input, textarea {
    overflow: visible;
    width: 100%;
    padding: 7px;
    outline: none!important;
    margin-bottom: 10px;	
    border: 0.5px solid #ececec;
}

textarea{
	height: 300px;
}

button{
    background: #ffffff;
    border: 0.5px solid #ececec;
    padding: 10px;
    color: grey;
    outline: none!important;
    margin-bottom: 15px;
    border-radius: 3px;
    background: #23b13b;
    cursor: pointer;
    color: white;
}

button:hover{
	background: #1d8e30;
	cursor: pointer;
}

body{
    background: #f7f7f7;
    padding-top: 55px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 0.5px solid rgba(0,0,0,.1);
}

footer{
    background: white;
    margin-top: 0px;
    margin-bottom: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 0.5px solid #ececec;
}

.footer-fix{
    position: fixed;
    bottom: 15px;
    width: 100%;
}

#logo-area{
	float:left;
	cursor: pointer;
}

#page-content{
    padding-top: 15px;
}

#navigation-area{
	float:right;
	cursor: pointer;
}

.active-page{
    border-bottom: 3px solid #23b13b;
    padding-bottom: 13px;
}

#navigation-area span{
	margin-left: 15px;
}

#page-navigation{
    overflow: auto;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #ececec;
    padding-bottom: 15px;
    background: white;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.simple-mobile{
    border: 0.6px solid #ececec;
    padding: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
    padding-top: 8px;
}

#email-sidebar div{
	cursor: pointer;
}

#sms-sidebar div{
	cursor: pointer;
}

#message-success{
    margin-bottom: 10px;
    padding: 12.5px;
    background: green;
    color: white;
}

#message-error{
    margin-bottom: 10px;
    padding: 12.5px;
    background: red;
    color: white;
}

.title{
    margin-bottom: 15px;
    font-size: 15px;
}

#result{
    margin-top: -1px;
    margin-bottom: -15px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.strong{
    font-weight: 600;
}

.contact{
    float: right;
}

.contact a{
    color:black!important;
}

.footer-divider{
    color:lightgray;
}

#receiver-number{
    margin-bottom: 15px;
}

#number-mail{
    margin-bottom: 15px;
}

.or{
    border: 0.5px solid #ececec;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    color: black;
    position: absolute;
    background: white;
    margin-top: -21px;
    margin-left: -15px;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 0;
    right: 25px;
}

.mobile-content {
    display: none;
    background: #f7f7f7;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 100vh;
    position: fixed;
    margin-top: -1px;
    border-top: 0.5px solid #ececec;
}

.mobile-subcontent{
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid #ececec;
    border-bottom: 0.5px solid #ececec;
    height: 100vh;
}

.mobile-sms{
    margin-bottom: 15px;
}

.small-title{
    margin-top: 3px;
}

.fixed-footer-mobile{
    position: fixed;
    bottom: 15px;
    width: 100%;
}

@media (max-width: 768px) {

    #desktop-navigation{
        display: none;
    }

    button{
        width: 100%;
    }

    .footer-desc{
        display: none;
    }

    #email-content {
        background: white;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
        border-top: 0.5px solid #ececec;
    }

    footer {
        background: #f7f7f7;
    }

    textarea {
        height: 200px;
    }

    .second-button{
        margin-bottom: 0px;
    }

    footer strong{
        font-weight: 400;
    }

    .subtitle-desktop{
        display: none;
    }

    .or{
        padding-top: 5px;
    }

    hr{
        border: 0.6px solid #ececec;
        margin-top: 7px;
        margin-bottom: 14px;
    }

    .mobile-none{
        /*display: none;*/
    }

    html{
        background: white;
    }

    .mobile-none{
        position: absolute;
        visibility: hidden;
    }

}

@media (min-width: 769px) {

    #mobile-navigation{
        display: none;
    }

    .subtitle-mobile{
        display: none;
    }

    button,
    input, textarea,
    footer,
    hr,
    #page-navigation,
    .or,
    .mobile-content,
    .mobile-subcontent,
    #email-content{
        border-color:#c5c5c5;
    }

    button{
        padding-left: 17px;
        padding-right: 17px;
    }

    #result {
        margin-top: -1px;
        margin-bottom: -15px;
        position: fixed;
        width: 100%;
        z-index: 99;
        position: fixed;
        right: 20px;
        width: 225px;
        margin-top: 20px;
    }

    #message-error{
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #message-success{
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .fa-bomb-bomber{
        margin-top: 5px;
    }

}
