<!-- REMOVE PADDING -->
<div class="row">
	
	<!-- SMS CONTENT AREA -->
	<div class="col-md-6">
		<div id="sms-content" class="sms-content-default"></div>
	</div>
	
	<!-- E-MAIL CONTENT AREA -->
	<div class="col-md-6">
		<div id="email-content" class="email-content-default"></div>
	</div>

</div>

<!-- LOAD CONTENT -->
<script>
	$( document ).ready(function() {
	    $("#sms-content").load('elements/new-sms-default.html'); 
	    $("#email-content").load('elements/new-email-default.html'); 
	});
</script>