<!-- HIDE ON MOBILE -->
<div class="mobile-none">

	<!-- API KEY -->
	<div class="api-key-area">

		<!-- TITLE -->
		<h4 class="title">API KEY</h4>
		
		<!-- KEY -->
		<input id="api-key-email" type="text" placeholder="API Key" value="">

	</div>

	<!-- DIVIDER -->
	<hr>

</div>


<!-- RECEIVER OF THE E-MAIL -->
<div id="email-receiver-area">
	
	<!-- TITLE -->
	<h4 class="title">BOMBING TARGET</h4>

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-name" type="text" placeholder="Name of the receiver">

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-email" type="email" placeholder="E-Mail address">
	
	<!-- DIVIDER -->
	<hr>

	<!-- TITLE -->
	<h4 class="title">NUMBER OF MESSAGES</h4>

	<!-- NUMBER OF MESSAGES -->
	<input id="number-mail" type="number" placeholder="Number of messages">
	
</div>

<!-- BUTTON -->
<button id="send-email" class="second-button"><i class="fas fa-bomb"></i>&nbsp;&nbsp;Start e-mail bombing</button>

<!-- SCRIPTS -->
<script src="js/new-email-bomber.js"></script>
