<!-- HIDE ON MOBILE -->
<div class="mobile-none">

	<!-- API KEY -->
	<div class="api-key-area">

		<!-- TITLE -->
		<h4 class="title">API KEY</h4>
		
		<!-- KEY -->
		<input id="api-key" type="text" placeholder="API Key" value="">
		
		<!-- SECRET -->
		<input id="api-secret" type="text" placeholder="API Secret" value="">

	</div>

	<!-- DIVIDER -->
	<hr>

</div>

<!-- RECEIVER OF THE E-MAIL -->
<div id="sms-receiver-area">
	
	<!-- TITLE -->
	<h4 class="title">BOMBING TARGET</h4>

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-number" type="number" placeholder="Phone number of the receiver (45000000)">
	
</div>

<!-- DIVIDER -->
<hr>

<!-- NUMBER OF MESSAGES -->
<div class="number-of-messages">

	<!-- TITLE -->
	<h4 class="title">NUMBER OF MESSAGES</h4>

	<!-- NUMBER OF MESSAGES -->
	<input id="number-of-sms" type="number" placeholder="Number of messages">

</div>

<!-- BUTTON -->
<button id="send-sms" class="fa-bomb-bomber"><i class="fas fa-bomb"></i>&nbsp;&nbsp;Start SMS bombing</button>

<!-- SCRIPTS -->
<script src="js/new-message-bomber.js"></script>
