<!-- HIDE ON MOBILE -->
<div class="mobile-none">

	<!-- API KEY -->
	<div class="api-key-area">

		<!-- TITLE -->
		<h4 class="title">API KEY</h4>
		
		<!-- KEY -->
		<input id="api-key" type="text" placeholder="API Key" value="">
		
		<!-- SECRET -->
		<input id="api-secret" type="text" placeholder="API Secret" value="">

	</div>

	<!-- DIVIDER -->
	<hr>

</div>

<!-- SENDER OF THE E-MAIL -->
<div id="sms-sender-area">
	
	<!-- TITLE -->
	<h4 class="title">SENDER OF THE MESSAGE</h4>
	
	<!-- E-MAIL ADDRESS -->
	<input id="sender-name" type="text" placeholder="Name of the sender (max 11 characters)">

	<span class="or">or</span>

	<!-- PHONE NUMBER OF SENDER -->
	<input id="sender-number" type="number" placeholder="Phone number">

</div>

<!-- DIVIDER -->
<hr>

<!-- RECEIVER OF THE E-MAIL -->
<div id="sms-receiver-area">
	
	<!-- TITLE -->
	<h4 class="title">RECEIVER OF THE MESSAGE</h4>

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-number" type="number" placeholder="Phone number of the receiver (45000000)">

	<!-- MESSAGE -->
	<textarea id="message" placeholder="Body of the message"></textarea>
	
</div>

<!-- BUTTON -->
<button id="send-sms"><i class="fab fa-telegram-plane"></i>&nbsp;&nbsp;Send SMS</button>

<!-- SCRIPTS -->
<script src="js/new-message-default.js"></script>
