<!-- HIDE ON MOBILE -->
<div class="mobile-none">

	<!-- API KEY -->
	<div class="api-key-area">

		<!-- TITLE -->
		<h4 class="title">API KEY</h4>
		
		<!-- KEY -->
		<input id="api-key-email" type="text" placeholder="API Key" value="">

	</div>

	<!-- DIVIDER -->
	<hr>

</div>

<!-- SENDER OF THE E-MAIL -->
<div id="email-sender-area">
	
	<!-- TITLE -->
	<h4 class="title">SENDER OF THE MESSAGE</h4>
	
	<!-- E-MAIL ADDRESS -->
	<input id="sender-name-unique" type="text" placeholder="Name of the sender">

	<!-- E-MAIL ADDRESS -->
	<input id="sender-email" type="email" placeholder="E-Mail address">

</div>

<!-- DIVIDER -->
<hr>

<!-- RECEIVER OF THE E-MAIL -->
<div id="email-receiver-area">
	
	<!-- TITLE -->
	<h4 class="title">RECEIVER OF THE MESSAGE</h4>

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-name" type="text" placeholder="Name of the receiver"">

	<!-- E-MAIL ADDRESS -->
	<input id="receiver-email" type="email" placeholder="E-Mail address">

	<!-- SUBJECT -->
	<input id="subject" type="text" placeholder="Subject">

	<!-- MESSAGE -->
	<textarea id="message-unique" placeholder="Body of the message"></textarea>
	
</div>

<!-- BUTTON -->
<button id="send-email" class="second-button"><i class="fab fa-telegram-plane"></i>&nbsp;&nbsp;Send e-mail</button>

<!-- SCRIPTS -->
<script src="js/new-email-default.js"></script>
